    @model List<Fast_food.Models.ViewModel.GioHangItems>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FastFood_Layout.cshtml";
}

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Hình ảnh</th>
                                <th class="product-name">Tên sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-quantity">Size</th>
                                <th class="product-total">Tổng tiền</th>
                                <th class="product-remove">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="@("/SanPham/" +@i.HinhAnh)" style="height:100px; max-width:100%;" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@i.TenSp</h2>
                                    </td>
                                    <td>@i.Gia</td>
                                    <td>
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                            </div>
                                            <input type="text" class="form-control text-center" value="@i.SoLuong" name="SoLuong" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                            </div>
                                        </div>
                                    </td>
                                    @if (i.Size == 1)
                                    {
                                        <td>Nhỏ</td>
                                    }
                                    else if (i.Size == 2)
                                    {
                                        <td>Vừa</td>
                                    }
                                    else
                                    {
                                        <td>Lớn</td>
                                    }
                                    <td>@i.TongTien đ</td>
                                    <td><a href="~/GioHang/DeleteToCart/@i.IdSp" class="btn btn-primary btn-sm">X</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <a href="~/Home/Index" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <form class="col-md-6 pl-5" asp-action="ThanhToan" asp-controller="GioHang" method="get">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Số lượng sản phẩm</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">@ViewBag.sl</strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Tổng tiền</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">@ViewBag.tt</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg py-3 btn-block">Thanh toán</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
